body {
    background: url(../imagens/fundo.jpg) repeat-x;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

/* Campo titulo */
.titulo {
    color: white;
    width: 31vw;
    height: 25vh;
}

.titulo h2,
.titulo p {
    padding: 0 1.8vw;
}

.titulo h2 {
    font-size: 25px;
    font-weight: 900;
}

.titulo p {
    font-size: 18px;
    font-weight: 300;
}

/* Campo Formulário */
.campo-formulario {
    background-color: #FFFF;
    height: 80vh;
    width: 35vw;
    display: flex;
    justify-content: center;

    padding: 10px 0;
}

input {
    width: 30vw;
    height: 6vh;
    box-sizing: border-box;
    border-radius: 5px;
    background: white;
    border: 2px solid black;
    margin: 4vh 0.5vw 0 0.5vw;
    font-size: 17px;
    display: block;
}

input::placeholder {
    position: relative;
    left: 0.6vw;
    color: #A8A8A8;

}

textarea {
    height: 18vh;
    width: 30vw;
    margin: 4vh 0.5vw 0 0.5vw;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    resize: none;
}

textarea::placeholder {
    position: relative;
    padding-left: 0.6vw;
    padding-top: 1vh;
    font-size: 17px;
    color: #A8A8A8;

}

.texto-permanente {
    margin-top: 2vh;

}

#botao {
    background-color: #3CCC87;
    color: white;
    border: none;
    cursor: pointer;
    height: 7vh;
}

.menssagem-erro {
    font-size: 10px;
    margin-left: 0.5vw;
    color: #F52E2E;
    visibility: hidden;

}

.borda-verde {
    border-color: #3CCC87;
}

.borda-vermelha {
    border-color: #F52E2E;
}

input:invalid {
    border-color: #F52E2E;
}


@media (max-width: 780px) {


    main {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;

    }

    .campo-formulario {
        height: 55vh;
        width: 60vw;
        min-height: 295px;
        margin-top: 2vh;
        margin-bottom: 6vh;
    }

    input,
    textarea {
        width: 45vw;
        margin: 2vh 0.5vw 0 0.5vw;
        min-height: 25px;
    }

    input {
        height: 4vh;


    }

    textarea {
        height: 15vh;


    }

    .texto-permanente {
        margin-top: 0.2vh;

    }

    #botao {
        height: 5vh;


    }

    .titulo {
        color: white;
        width: 65vw;
        height: 20vh;
        min-height: 100px;
        margin-top: 3vh;
        margin-bottom: 1vh;
        padding-bottom: 20px;

    }

    .titulo h2,
    .titulo p {
        padding: 0 2vw;
    }

    .titulo h2 {
        font-size: 1.4rem;
        font-weight: 900;
    }

    .titulo p {
        font-size: 1rem;
        font-weight: 300;
    }
}